<div class="pai-base shadow">
  <h1>VENDEDOR MILIONÁRIO 2.0</h1>
  <h2>Marketing de vendas</h2>
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Sobre">
      <app-sobre></app-sobre>
    </mat-tab>

    <mat-tab label="Benefícios">
      <app-beneficios></app-beneficios>
    </mat-tab>

    <mat-tab label="Contato"> </mat-tab>
  </mat-tab-group>

  <mat-card class="card-footer">
    <button mat-raised-button color="primary" (click)="compra()">ADQUIRIR CURSO</button>
  </mat-card>
</div>
