<div>
  <video
    class="video"
    width="320"
    height="240"
    controls="controls"
    autoplay="autoplay"
  >
    <source
      src="src\assets\conheca-o-vendedor-milionario.mp4"
      type="video/mp4"
    />
    <object data="" width="320" height="240">
      <embed
        width="320"
        height="240"
        src="src\assets\conheca-o-vendedor-milionario.mp4"
      />
    </object>
  </video>

  <mat-card class="card-footer">
    <button mat-raised-button color="primary" (click)="compra()">
      ADQUIRIR CURSO
    </button>
    <span href="" style="font-weight: 200"
      >ou <a href="/curso" style="font-weight: 500">clique aqui</a> para saber
      mais sobre o curso</span
    >
  </mat-card>
</div>
