<div>
  <mat-card>
    <mat-card-title style="font-weight: 400"
      >Vendedor Milionário 2.0</mat-card-title
    >
    <mat-card-subtitle>SOBRE</mat-card-subtitle>
    <h1>Torne-se um vendedor de sucesso</h1>

    <h3>
      <p>
        Vendedor Milionário 2.0 um método desenvolvido para empreendedores que
        buscam a sua liberdade financeira e querem utilizar a internet como meio
        para construir um negócio sólido, lucrativo e exponencial.
      </p>
    </h3>
  </mat-card>
  <br />
</div>
